# Root Folder
*.DS_Store
*._.*
*._*

# Obsidian Version
Obsidian_Version/**/.DS_Store
Obsidian_Version/**/._.*
Obsidian_Version/**/._*

# Banner Folder
Banners/**/.DS_Store
Banners/**/._.*
Banners/**/._*

# Plaintext Version
Plaintext_Version/**/.DS_Store
Plaintext_Version/**/._.*
Plaintext_Version/**/._*
